body, html{
  height:100%;
}
body{
  margin: 0px;
    background-image: url("Black-White-Dance-Floor-e1358205419861.jpg");
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  /* border-radius:10px; */
  width: 30px;
  height: 30px;
  position:absolute;
}

.drunkDancer{
  position: absolute;
  height: 100px;
  width: 100px;
}

img{
    height: 100%;
    width: 100%;
}

.breakDancer {
    position: absolute;
    height: 100px;
    width: 100px;
}
